[Unit]
Description=File Sharing System
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/file-sharing-system-aws/frontend
ExecStart=/home/ec2-user/file-sharing-system-aws/frontend/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5002 wsgi:app
Restart=always
Environment="PATH=/home/ec2-user/file-sharing-system-aws/frontend/venv/bin"
Environment="PYTHONPATH=/home/ec2-user/file-sharing-system-aws/frontend"

[Install]
WantedBy=multi-user.target
