{% extends "base.html" %}

{% block title %}Download File - File Sharing System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                <h4 class="mb-0">Download File</h4>
            </div>
            <div class="card-body text-center">
                <h5 class="card-title mb-4">Someone has shared a file with you</h5>
                <p class="card-text">This file will be available for 24 hours from the time it was uploaded.</p>
                
                <div class="d-grid gap-2 col-md-6 mx-auto">
                    <a href="{{ url_for('download_file', file_id=file_id) }}" class="btn btn-primary btn-lg" id="download-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download me-2" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                        Download File
                    </a>
                </div>
                
                <div class="alert alert-warning mt-4" role="alert">
                    <small>Note: If this file has been available for more than 24 hours, it may have expired and will no longer be available for download.</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
